<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div>
        <form action="/users">
            <label for="userName">Title</label>
            <input type="text" name="userName" id="title">
            <button class="btn" type="submit">Submit</button>
        </form>
    </div>
</body>

</html>